@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  background: transparent;
}

.wrapper {
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrapper > div:nth-child(2) {
  position: relative;
  width: 100%;
  height: 158px;
  background: url("../contents/Game1.webp") center 2px/cover no-repeat;
}
.wrapper > div:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.wrapper > div:nth-child(3) {
  position: relative;
  width: 100%;
  height: 158px;
  background: url("../contents/Game2.jpg") center 2px/cover no-repeat;
}
.wrapper > div:nth-child(3)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.wrapper .wrapper_header {
  width: 100%;
  height: 30px;
}
.wrapper .wrapper_header .contents_title {
  display: flex;
  align-items: center;
  gap: 10px;
}
.wrapper .wrapper_header .contents_title .title {
  color: #fff;
  font: bold 16px/1 arial;
}
.wrapper .wrapper_header .contents_title .subtitle {
  color: #fff;
  font-size: 14px;
}
.wrapper .wrapper_header .divider {
  width: 100%;
  border-top: 1px solid gray;
  margin: 4px 0;
}
.wrapper .game_container {
  width: 100%;
  height: 158px;
  border-radius: 15px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 8px gray;
  color: white;
  overflow: hidden;
}
.wrapper .game_container * {
  position: relative;
}
.wrapper .game_container .game_title {
  font: 700 16px/1 arial;
}
.wrapper .game_container .game_subtitle {
  color: white;
  font: normal 14px/1 arial;
}
.wrapper .game_container .word_text input[type=text] {
  border: none;
  border-bottom: 1px solid #ddd;
  outline: none;
  background: transparent;
  padding: 0 0 4px 4px;
  color: white;
}
.wrapper .game_container .word_text input[type=text]:focus {
  outline: none;
}
.wrapper .game_container .word_text input[type=text]:focus::-moz-placeholder {
  opacity: 0;
}
.wrapper .game_container .word_text input[type=text]:focus::placeholder {
  opacity: 0;
}
.wrapper .game_container .word_text input[type=text]::-moz-placeholder {
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 1;
  color: #ddd;
}
.wrapper .game_container .word_text input[type=text]::placeholder {
  transition: all 0.3s;
  opacity: 1;
  color: #ddd;
}
.wrapper .game_container .word_text input[type=submit] {
  border: none;
  padding: 2px 8px;
  border-radius: 8px;
  background: #f6f6f6;
  cursor: pointer;
  transition: all 0.3s;
}
.wrapper .game_container .word_text input[type=submit]:hover {
  background: #F1C40F;
  color: #fff;
}
.wrapper .game_container .word_result {
  color: #fff;
  font-weight: 800;
}
.wrapper .game_container .game_lotto_number {
  color: #fff;
  background: #F1C40F;
  border-radius: 20px;
  padding: 2px 12px;
  border-radius: 8px;
  font-size: 14px;
  box-shadow: 0 0 10px 4px rgba(255, 215, 0, 0.3);
}
.wrapper .game_container .game_lotto_number span {
  color: white;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
.wrapper .game_container .wrapper_lotto_btn {
  border: none;
  padding: 2px 8px;
  border-radius: 8px;
  background: #f6f6f6;
  cursor: pointer;
  transition: all 0.3s;
}
.wrapper .game_container .wrapper_lotto_btn:hover {
  background: #F1C40F;
  color: #fff;
}