@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

// Built-in
$color: (
  accent-color: #0000d6,
  bg-dark-color: #000,
  bg-light-color: #fff,
  bg-grey-color: #808080,
  light-theme-color: #55b2e4,
);

$size: (
  small: 13px,
  medium: 14px,
);

$family: (
  pop: "Poppins",
  rale: "Raleway",
  orb: "Orbitron",
  exo: "Exo 2",
  bebas: "Bebas Neue",
  monts: "Montserrat",
  anton: "Anton",
);
