// reset
@import "./reset.scss";

@keyframes heading {
  from {
    transform: translateX(50%) scale(1);
  }
  to {
    transform: translateX(50%) scale(1.05);
  }
}

@keyframes bounce {
  from {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }

  to {
    opacity: 1;
    transform: scale(0.8);
  }
}

html {
  background: transparent !important;
}

// common
body {
  overflow: hidden;
  color: white;
}

.background {
  position: relative;
  width: 100%;
  height: 100%;
  video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    &:first-child {
      z-index: 6;
    }
    &:nth-child(2) {
      z-index: 5;
    }
    &.lastVideo {
      opacity: 88%;
    }
  }
  .logoBox {
    position: absolute;
    width: 110px;
    height: 110px;
    left: 49.9%;
    top: 52.5%;
    transform: translate(-50%, -50%);
    z-index: 11;
    img {
      opacity: 0;
      position: absolute;
      z-index: 10;
      width: 110px;
      object-fit: cover;
      cursor: pointer;
      &.active {
        opacity: 0;
      }
    }
    &::before {
      content: "";
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 9;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 2px solid map-get($map: $color, $key: light-theme-color);
      animation: bounce alternate infinite 1s
        cubic-bezier(0.175, 0.885, 0.32, 1.275);
      animation-delay: 7s;
    }
    &::after {
      content: "";
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 9;
      width: 100%;
      height: 100%;
      transform: scale(1.1);
      border-radius: 50%;
      border: 2px solid #fff;
      animation: bounce alternate infinite 1s
        cubic-bezier(0.175, 0.885, 0.32, 1.275);
      animation-delay: 7.2s;
    }
  }
  h1 {
    opacity: 1;
    width: 100%;
    font-size: 200px;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    font-weight: 900;
    transform-origin: left;
    transform: translate(-100%, -54%) rotate(90deg);
    font-style: italic;
    font-family: map-get($map: $family, $key: orb);
    transition: all 1s ease-out;
    color: black;
    // scale(1) translate(0px, 0px) skew(30deg, 0deg)
    &.active {
      opacity: 1;
      transform: translate(4%, -54%) rotate(90deg);
    }
    span {
      color: #747474;
    }
  }
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url("./contents/background.webp") center -4% / cover no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .clock {
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    text-align: right;
    font-family: map-get($map: $family, $key: orb);
    font-weight: 600;
    gap: 10px;
    opacity: 88%;
    .time {
      font-size: 30px;
    }
  }
  .outerbox {
    border-radius: 10px;
    background: transparent;
    width: 808px;
    height: 560px;
    position: relative;
    .wrapper {
      height: 100%;
      display: flex;
    }
  }
}

.wrapper {
  position: relative;
  transform: scale(0);
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background: rgba($color: #fff, $alpha: 0.2);
  border: 1px solid rgba($color: #fff, $alpha: 0.2);
  border-radius: 30px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 50px rgba($color: map-get($color, accent-color), $alpha: 0.6);
  &.active {
    transform: scale(1);
  }
}

// wrapper_left
.wrapper_left {
  padding: 20px;
  width: 203px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  backdrop-filter: blur(150px);
  box-shadow: 4px 0 10px rgba($color: #000000, $alpha: 0.2);
  .wrapper_left_header {
    font-size: map-get($size, small);
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    .visitors {
      order: 2;
      color: map-get($color, accent-color);
    }
  }
  .wrapper_left_body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100%;
    padding: 18px;
    border-radius: 15px;
    .left_body_header {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .left_body_header_gray {
        width: 148px;
        height: 148px;
        background: url("./contents/persona.jpg") center/cover no-repeat;
        border-radius: 50%;
      }
      .left_body_header_line {
        margin: 12px 0;
        width: 90%;
      }
    }
    // navigation
    .navigation {
      display: flex;
      flex-direction: column;
      gap: 14px;
      .navigation_item {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
        width: 100%;
        height: 33px;
        background: map-get($map: $color, $key: theme-color);
        color: map-get($map: $color, $key: bg-light-color);
        text-align: center;
        border-radius: 10px;
        font-size: map-get($map: $size, $key: medium);
        border: 1px solid rgba(255, 255, 255, 0.2);
        cursor: pointer;
        transition: all 0.3s;
        &.active {
          background: rgba($color: #000, $alpha: 0.1);
        }
        span{
          font-size: 16px;
        }
      }
    }

    .left_body_footer {
      width: 100%;
      height: 100%;
      .wrapper_feel {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6px;
        .feel_title {
          font-weight: bold;
          font-size: 20px;
        }
        form {
          #emotion {
            text-align: center;
            padding: 4px 10px;
            width: 100%;
            border-radius: 8px;
            border: 1px solid rgba(255, 255, 255, 0.2);
            background: transparent;
            color: white;
            &:focus{
              outline: none;
            }
            option{
              color: #333;
            }
          }
        }
      }
    }
  }
}

// wrapper_right
.wrapper_right {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  .wrapper_right_header {
    display: flex;
    justify-content: space-between;
    color: map-get($color, theme-color);
    .right_header_title {
      font-weight: bold;
    }
    .right_header {
      font-size: map-get($size, small);
      a:hover:not(i){
        text-decoration: underline;
      }
    }
  }
  .wrapper_right_body {
    width: 100%;
    height: 445px;
    iframe {
      width: 100%;
      height: 100%;
      border-radius: map-get($map: $size, $key: medium) / 2;
      border: none;
      background: transparent !important;
    }
  }
}
