@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

@keyframes heading {
  from {
    transform: translateX(50%) scale(1);
  }
  to {
    transform: translateX(50%) scale(1.05);
  }
}
@keyframes bounce {
  from {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  to {
    opacity: 1;
    transform: scale(0.8);
  }
}
html {
  background: transparent !important;
}

body {
  overflow: hidden;
  color: white;
}

.background {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("./contents/background.webp") center -4%/cover no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.background video {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.background video:first-child {
  z-index: 6;
}
.background video:nth-child(2) {
  z-index: 5;
}
.background video.lastVideo {
  opacity: 88%;
}
.background .logoBox {
  position: absolute;
  width: 110px;
  height: 110px;
  left: 49.9%;
  top: 52.5%;
  transform: translate(-50%, -50%);
  z-index: 11;
}
.background .logoBox img {
  opacity: 0;
  position: absolute;
  z-index: 10;
  width: 110px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}
.background .logoBox img.active {
  opacity: 0;
}
.background .logoBox::before {
  content: "";
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid #55b2e4;
  animation: bounce alternate infinite 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-delay: 7s;
}
.background .logoBox::after {
  content: "";
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
  transform: scale(1.1);
  border-radius: 50%;
  border: 2px solid #fff;
  animation: bounce alternate infinite 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-delay: 7.2s;
}
.background h1 {
  opacity: 1;
  width: 100%;
  font-size: 200px;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  font-weight: 900;
  transform-origin: left;
  transform: translate(-100%, -54%) rotate(90deg);
  font-style: italic;
  font-family: "Orbitron";
  transition: all 1s ease-out;
  color: black;
}
.background h1.active {
  opacity: 1;
  transform: translate(4%, -54%) rotate(90deg);
}
.background h1 span {
  color: #747474;
}
.background .clock {
  position: absolute;
  top: 40px;
  right: 40px;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  text-align: right;
  font-family: "Orbitron";
  font-weight: 600;
  gap: 10px;
  opacity: 88%;
}
.background .clock .time {
  font-size: 30px;
}
.background .outerbox {
  border-radius: 10px;
  background: transparent;
  width: 808px;
  height: 560px;
  position: relative;
}
.background .outerbox .wrapper {
  height: 100%;
  display: flex;
}

.wrapper {
  position: relative;
  transform: scale(0);
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  box-shadow: 0 0 50px rgba(0, 0, 214, 0.6);
}
.wrapper.active {
  transform: scale(1);
}

.wrapper_left {
  padding: 20px;
  width: 203px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  -webkit-backdrop-filter: blur(150px);
          backdrop-filter: blur(150px);
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.2);
}
.wrapper_left .wrapper_left_header {
  font-size: 13px;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
}
.wrapper_left .wrapper_left_header .visitors {
  order: 2;
  color: #0000d6;
}
.wrapper_left .wrapper_left_body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100%;
  padding: 18px;
  border-radius: 15px;
}
.wrapper_left .wrapper_left_body .left_body_header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper_left .wrapper_left_body .left_body_header .left_body_header_gray {
  width: 148px;
  height: 148px;
  background: url("./contents/persona.jpg") center/cover no-repeat;
  border-radius: 50%;
}
.wrapper_left .wrapper_left_body .left_body_header .left_body_header_line {
  margin: 12px 0;
  width: 90%;
}
.wrapper_left .wrapper_left_body .navigation {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.wrapper_left .wrapper_left_body .navigation .navigation_item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 100%;
  height: 33px;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  font-size: 14px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
  transition: all 0.3s;
}
.wrapper_left .wrapper_left_body .navigation .navigation_item.active {
  background: rgba(0, 0, 0, 0.1);
}
.wrapper_left .wrapper_left_body .navigation .navigation_item span {
  font-size: 16px;
}
.wrapper_left .wrapper_left_body .left_body_footer {
  width: 100%;
  height: 100%;
}
.wrapper_left .wrapper_left_body .left_body_footer .wrapper_feel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}
.wrapper_left .wrapper_left_body .left_body_footer .wrapper_feel .feel_title {
  font-weight: bold;
  font-size: 20px;
}
.wrapper_left .wrapper_left_body .left_body_footer .wrapper_feel form #emotion {
  text-align: center;
  padding: 4px 10px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
  color: white;
}
.wrapper_left .wrapper_left_body .left_body_footer .wrapper_feel form #emotion:focus {
  outline: none;
}
.wrapper_left .wrapper_left_body .left_body_footer .wrapper_feel form #emotion option {
  color: #333;
}

.wrapper_right {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.wrapper_right .wrapper_right_header {
  display: flex;
  justify-content: space-between;
}
.wrapper_right .wrapper_right_header .right_header_title {
  font-weight: bold;
}
.wrapper_right .wrapper_right_header .right_header {
  font-size: 13px;
}
.wrapper_right .wrapper_right_header .right_header a:hover:not(i) {
  text-decoration: underline;
}
.wrapper_right .wrapper_right_body {
  width: 100%;
  height: 445px;
}
.wrapper_right .wrapper_right_body iframe {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  border: none;
  background: transparent !important;
}