@import "../reset.scss";

// common
html,
body {
  width: 100%;
  height: 100%;
  background: transparent !important;
  background-color: transparent;
}

// home
.wrapper {
  background: transparent;
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: map-get($map: $color, $key: bg-light-color);
  .wrapper_header {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @at-root.contents_title {
      display: flex;
      align-items: center;
      gap: 10px;
      .title {
        color: map-get($map: $color, $key: bg-light-color);
        font: bold map-get($map: $size, $key: medium) / 1 "arial";
      }
      .subtitle {
        font: normal map-get($map: $size, $key: medium) / 1 "arial";
      }
      @at-root.divider {
        width: 100%;
        border-top: 1px solid map-get($map: $color, $key: bg-grey-color);
        margin: 4px 0;
      }
      
    }
    .contents_body{
      overflow: hidden;
      height: 0;
      font-family: map-get($map: $family, $key: exo);
      transition: all 0.6s;
      &.active{
        height: 22px;
      }
    }
  }
  .wrapper_body {
    width: 100%;
    height: 270px;
    .video {
      width: 100%;
      height: 240px;
      margin-top: 10px;
      video{
        border-radius: 8px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-shadow: 0 0 30px 2px rgba($color: map-get($color, accent-color), $alpha: 0.7);
      }
    }
  }
}
