@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  background: transparent !important;
  background-color: transparent;
}

.wrapper {
  background: transparent;
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
}
.wrapper .wrapper_header {
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contents_title {
  display: flex;
  align-items: center;
  gap: 10px;
}
.contents_title .title {
  color: #fff;
  font: bold 14px "arial";
}
.contents_title .subtitle {
  font: normal 14px "arial";
}
.divider {
  width: 100%;
  border-top: 1px solid #808080;
  margin: 4px 0;
}

.wrapper .wrapper_header .contents_body {
  overflow: hidden;
  height: 0;
  font-family: "Exo 2";
  transition: all 0.6s;
}
.wrapper .wrapper_header .contents_body.active {
  height: 22px;
}
.wrapper .wrapper_body {
  width: 100%;
  height: 270px;
}
.wrapper .wrapper_body .video {
  width: 100%;
  height: 240px;
  margin-top: 10px;
}
.wrapper .wrapper_body .video video {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0 0 30px 2px rgba(0, 0, 214, 0.7);
}