@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

@keyframes overlay {
  from {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  75% {
    width: 50%;
    left: 100%;
  }
  to {
    width: 0;
    left: 100%;
  }
}
@keyframes reveal {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent !important;
  background-color: transparent;
}

.wrapper {
  position: relative;
  background: transparent;
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
}
.wrapper .wrapper_header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}
.contents_title {
  display: flex;
  align-items: center;
  gap: 10px;
}
.contents_title .title {
  color: #fff;
  font: bold 14px "arial";
}
.contents_title .subtitle {
  font: normal 14px "arial";
}
.divider {
  width: 100%;
  border-top: 1px solid #808080;
  margin: 4px 0;
  margin-bottom: 10px;
}

.wrapper .wrapper_header .contents_body {
  overflow-x: scroll;
  scrollbar-width: none;
  width: 100%;
  display: flex;
  gap: 20px;
  font-family: "Exo 2";
  font-size: 12px;
  font-weight: 300;
  transition: all 0.6s;
}
.wrapper .wrapper_header .contents_body .content {
  cursor: pointer;
}
.wrapper .wrapper_header .contents_body .content .img-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-end;
  padding: 10px;
  overflow: hidden;
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 20px;
  transition: all 0.6s;
}
.wrapper .wrapper_header .contents_body .content .img-box.first {
  background: url("../contents/EpisodeAigis.jpg") center/cover no-repeat;
}
.wrapper .wrapper_header .contents_body .content .img-box.second {
  background: url("../contents/Persona3Reload.jpg") center/cover no-repeat;
}
.wrapper .wrapper_header .contents_body .content .img-box.third {
  background: url("../contents/Persona4Golden.jpg") center/cover no-repeat;
}
.wrapper .wrapper_header .contents_body .content .img-box.fourth {
  background: url("../contents/Persona5Royal.jpg") center/cover no-repeat;
}
.wrapper .wrapper_header .contents_body .content .img-box .info {
  white-space: nowrap;
  opacity: 0;
  position: relative;
  transition: all 0.6s;
}
.wrapper .wrapper_header .contents_body .content .img-box .info .name {
  display: block;
  margin-bottom: 2px;
}
.wrapper .wrapper_header .contents_body .content .img-box .info span:not(.name) {
  font-size: 10px;
}
.wrapper .wrapper_header .contents_body .content .img-box .info span:nth-child(2) {
  text-align: center;
  padding: 1px 2px;
  font-size: 8px;
  border: 0.3px solid #fff;
}
.wrapper .wrapper_header .contents_body .content .img-box .btns {
  white-space: nowrap;
  opacity: 0;
  position: relative;
  transition: all 0.6s;
}
.wrapper .wrapper_header .contents_body .content .img-box .btns a {
  padding: 4px 8px;
  border: none;
  border-radius: 10px;
  font-size: 10px;
  background: #333;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}
.wrapper .wrapper_header .contents_body .content .img-box .btns a:hover {
  background: #222;
  pointer-events: all;
}
.wrapper .wrapper_header .contents_body .content .img-box .btns button {
  padding: 4px 8px;
  border: none;
  border-radius: 10px;
  font-size: 10px;
  font-weight: 300;
  font-family: "Exo 2";
  background: #333;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}
.wrapper .wrapper_header .contents_body .content .img-box .btns button:hover {
  background: #222;
  pointer-events: all;
}
.wrapper .wrapper_header .contents_body .content .img-box:hover {
  width: 200px;
}
.wrapper .wrapper_header .contents_body .content .img-box:hover.first {
  background: url("../contents/EpisodeAigisAlt.webp") center/cover no-repeat;
}
.wrapper .wrapper_header .contents_body .content .img-box:hover.second {
  background: url("../contents/Persona3ReloadL.jpg") center/cover no-repeat;
}
.wrapper .wrapper_header .contents_body .content .img-box:hover.third {
  background: url("../contents/Persona4GoldenL.avif") center/cover no-repeat;
}
.wrapper .wrapper_header .contents_body .content .img-box:hover.fourth {
  background: url("../contents/Persona5RoyalL.avif") center/cover no-repeat;
}
.wrapper .wrapper_header .contents_body .content .img-box:hover .info {
  opacity: 1;
}
.wrapper .wrapper_header .contents_body .content .img-box:hover .btns {
  opacity: 1;
}
.wrapper .wrapper_header .contents_body .content .img-box:hover::before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgb(0, 0, 0));
}
.wrapper .wrapper_header .contents_body .content .img-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  border-radius: 20px;
  transition: all 0.3s;
}
.wrapper .wrapper_header .contents_body .content .desc {
  width: 120px;
}
.wrapper .wrapper_header .contents_body .content .desc span {
  display: block;
  font-size: 10px;
  color: #ccc;
}
.wrapper .wrapper_body {
  width: 100%;
  height: 270px;
}
.wrapper .wrapper_body .characters-container {
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: none;
  display: flex;
  gap: 14px;
}
.wrapper .wrapper_body .characters-container .character {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 108px;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  cursor: pointer;
}
.wrapper .wrapper_body .characters-container .character img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.6s;
}
.wrapper .wrapper_body .characters-container .character span {
  font-size: 12px;
}
.wrapper .wrapper_body .characters-container .character span:first-of-type {
  display: inline-block;
  line-height: 1;
  position: relative;
}
.wrapper .wrapper_body .characters-container .character span:last-of-type {
  display: block;
  color: #ddd;
  font-size: 10px;
}
.wrapper .wrapper_body .characters-container .character:hover img {
  transform: rotateY(360deg);
}
.wrapper .wrapper_body .characters-container .character.active {
  animation: reveal 0.3s 1.4s linear both;
}
.wrapper .wrapper_body .characters-container .character.active:nth-child(2) {
  animation-delay: 1.5s;
}
.wrapper .wrapper_body .characters-container .character.active:nth-child(3) {
  animation-delay: 1.6s;
}
.wrapper .wrapper_body .characters-container .character.active:nth-child(4) {
  animation-delay: 1.7s;
}
.wrapper .wrapper_body .characters-container .character.active:nth-child(5) {
  animation-delay: 1.8s;
}
.wrapper .wrapper_body .characters-container .character.active:nth-child(6) {
  animation-delay: 1.9s;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 1;
  background: url("../contents/characters/Persona3ReloadSEES.jpeg") center/cover no-repeat;
}
.overlay.active {
  animation: overlay 2.1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}