@import "../reset.scss";

$main-color: #55b2d4;

// mixin
@mixin headerStyle {
  width: 100%;
  .content_title {
    display: flex;
    align-items: center;
    gap: 10px;
    .title {
      color: map-get($map: $color, $key: bg-light-color);
      font: 600 1em/1 arial;
    }
    .subtitle {
      font: normal 14px/1 arial;
    }
  }
}

html,
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: transparent;
}

.container {
  display: flex;
}

.wrapper-left {
  padding: 30px;
  flex: 6;
  .contents {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 270px;
    .album-cover {
      img {
        border-radius: 10px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .album-title {
      color: map-get($map: $color, $key: bg-light-color);
      text-align: center;
      span {
        font-size: 14px;
        opacity: 80%;
      }
    }
    .album-controls {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
      color: map-get($map: $color, $key: bg-light-color);
      font-size: 20px;
      span {
        padding: 4px;
        cursor: pointer;
        border-radius: 50%;
        transition: all 0.3s;
        &:hover{
          background: rgba($color: #fff, $alpha: 0.1);
        }
      }
      .fa-backward, .fa-forward{
        cursor: pointer;
        transition: all 0.3s;
        &:hover{
          color: rgba($color: map-get($color, accent-color), $alpha: 0.6);
        }
      }
      .play-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background: map-get($map: $color, $key: bg-light-color);
        border-radius: 50%;
        cursor: pointer;
        .fa-play {
          color: rgba($color: map-get($color, accent-color), $alpha: 0.8);
          backdrop-filter: blur(100px);
        }
        .fa-pause {
          color: rgba($color: map-get($color, accent-color), $alpha: 0.8);
          backdrop-filter: blur(100px);
        }
      }
      .fa-heart {
        transition: all 0.3s;
        cursor: pointer;
        &.active {
          color: map-get($map: $color, $key: accent-color);
        }
      }
    }
  }
}

.wrapper-right {
  flex: 4;
  height: 100%;
  padding: 30px 0;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .wrapper_header {
    overflow: hidden;
    @include headerStyle;
    width: 194px;
    .divider {
      width: 100%;
      border-top: 1px solid transparent;
      margin: 4px 0;
    }
    .quote-box {
      padding: 10px;
      width: 100%;
      height: 100px;
      backdrop-filter: blur(20px);
      color: map-get($map: $color, $key: bg-light-color);
      font-size: 12px;
      border: 1px solid rgba($color: #fff, $alpha: 0.2);
      border-radius: 10px;
      margin-bottom: 10px;
    }
  }
  .wrapper_body {
    @include headerStyle;
    margin: 4px 0;
    .content_title{
      margin-bottom: 14px;
    }
    .playlist{
      width: 194px;
      .songs{
        overflow-y: scroll;
        scrollbar-width: none;
        width: 100%;
        height: 240px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .song{
          display: flex;
          gap: 10px;
          cursor: pointer;
          .img-box{
            position: relative;
            min-width: 60px;
            height: 60px;
            img{
              border-radius: 8px;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
            &::before{
              opacity: 0;
              content: "Now Playing";
              position: absolute; 
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              background: rgba($color: #000000, $alpha: 0.5);
              backdrop-filter: blur(1px);
              color: map-get($map: $color, $key: bg-light-color);
              border-radius: 8px;
              font-size: 12px;
              font-family: map-get($map: $family, $key: pop);
              text-align: center;
              transition: all 0.3s;
            }
            &.active{
              &::before{
                opacity: 1;
              }
            }
          }
          p{
            color: map-get($map: $color, $key: bg-light-color);
            font-size: 12px;
            span:first-child{
              display: inline-block;
              margin-bottom: 6px;
            }
            span:last-child{
              font-size: 10px;
              display: block;
              color: #ddd;
            }
          }
        }
      }
    }
  }
}
