@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: transparent;
}

.container {
  display: flex;
}

.wrapper-left {
  padding: 30px;
  flex: 6;
}
.wrapper-left .contents {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 270px;
}
.wrapper-left .contents .album-cover img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper-left .contents .album-title {
  color: #fff;
  text-align: center;
}
.wrapper-left .contents .album-title span {
  font-size: 14px;
  opacity: 80%;
}
.wrapper-left .contents .album-controls {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: #fff;
  font-size: 20px;
}
.wrapper-left .contents .album-controls span {
  padding: 4px;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.3s;
}
.wrapper-left .contents .album-controls span:hover {
  background: rgba(255, 255, 255, 0.1);
}
.wrapper-left .contents .album-controls .fa-backward, .wrapper-left .contents .album-controls .fa-forward {
  cursor: pointer;
  transition: all 0.3s;
}
.wrapper-left .contents .album-controls .fa-backward:hover, .wrapper-left .contents .album-controls .fa-forward:hover {
  color: rgba(0, 0, 214, 0.6);
}
.wrapper-left .contents .album-controls .play-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
}
.wrapper-left .contents .album-controls .play-btn .fa-play {
  color: rgba(0, 0, 214, 0.8);
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
}
.wrapper-left .contents .album-controls .play-btn .fa-pause {
  color: rgba(0, 0, 214, 0.8);
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
}
.wrapper-left .contents .album-controls .fa-heart {
  transition: all 0.3s;
  cursor: pointer;
}
.wrapper-left .contents .album-controls .fa-heart.active {
  color: #0000d6;
}

.wrapper-right {
  flex: 4;
  height: 100%;
  padding: 30px 0;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrapper-right .wrapper_header {
  overflow: hidden;
  width: 100%;
  width: 194px;
}
.wrapper-right .wrapper_header .content_title {
  display: flex;
  align-items: center;
  gap: 10px;
}
.wrapper-right .wrapper_header .content_title .title {
  color: #fff;
  font: 600 1em/1 arial;
}
.wrapper-right .wrapper_header .content_title .subtitle {
  font: normal 14px/1 arial;
}
.wrapper-right .wrapper_header .divider {
  width: 100%;
  border-top: 1px solid transparent;
  margin: 4px 0;
}
.wrapper-right .wrapper_header .quote-box {
  padding: 10px;
  width: 100%;
  height: 100px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  color: #fff;
  font-size: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  margin-bottom: 10px;
}
.wrapper-right .wrapper_body {
  width: 100%;
  margin: 4px 0;
}
.wrapper-right .wrapper_body .content_title {
  display: flex;
  align-items: center;
  gap: 10px;
}
.wrapper-right .wrapper_body .content_title .title {
  color: #fff;
  font: 600 1em/1 arial;
}
.wrapper-right .wrapper_body .content_title .subtitle {
  font: normal 14px/1 arial;
}
.wrapper-right .wrapper_body .content_title {
  margin-bottom: 14px;
}
.wrapper-right .wrapper_body .playlist {
  width: 194px;
}
.wrapper-right .wrapper_body .playlist .songs {
  overflow-y: scroll;
  scrollbar-width: none;
  width: 100%;
  height: 240px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.wrapper-right .wrapper_body .playlist .songs .song {
  display: flex;
  gap: 10px;
  cursor: pointer;
}
.wrapper-right .wrapper_body .playlist .songs .song .img-box {
  position: relative;
  min-width: 60px;
  height: 60px;
}
.wrapper-right .wrapper_body .playlist .songs .song .img-box img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper-right .wrapper_body .playlist .songs .song .img-box::before {
  opacity: 0;
  content: "Now Playing";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  color: #fff;
  border-radius: 8px;
  font-size: 12px;
  font-family: "Poppins";
  text-align: center;
  transition: all 0.3s;
}
.wrapper-right .wrapper_body .playlist .songs .song .img-box.active::before {
  opacity: 1;
}
.wrapper-right .wrapper_body .playlist .songs .song p {
  color: #fff;
  font-size: 12px;
}
.wrapper-right .wrapper_body .playlist .songs .song p span:first-child {
  display: inline-block;
  margin-bottom: 6px;
}
.wrapper-right .wrapper_body .playlist .songs .song p span:last-child {
  font-size: 10px;
  display: block;
  color: #ddd;
}